$background-color: aliceblue;

.badge {
  padding: 8px;
  background: aliceblue;
  display: inline-block;
  border-radius: 4px;
  // font-family: "Gotham Rounded-Book";
  // font-family: "BentonSansRegular";
  font-family: "KaTeX_Caligraphic-Regular";

  h4 {
    margin: 0;
    font-size: 32px;
  }
}
