$background-color: aliceblue;

.badge {
  padding: 8px;
  background: aliceblue;
  display: inline-block;
  border-radius: 4px;
  font-family: "BentonSansRegular";

  h4 {
    margin: 0;
    font-size: 32px;
  }
}
